@model ConferenceRoomAPI.Models.DayView

@{
    string date = Model.Date;
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table" style="width:500px;">
    <div class="table-row">
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
    </div>
    <div class="table-row">
        <div class="table-cell">Conference Room</div>
        <div class="table-cell">@Html.DropDownListFor(x => x.SelectedRoom, Model.ConfRooms)</div>
        <div class="table-cell"><button id="refresh">Refresh</button></div>
    </div>
    <div class="table-row">
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
    </div>
</div>

<div id="overlay">
    <div class="table" style="width:500px;">
        <div class="table-row">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<div class="table" id="nav" style="width:500px;">
    <div class="table-row">
        <div class="table-cell" style="vertical-align:middle;"><button id="past">Past</button></div>
        <div class="table-cellr"></div>
        <div class="table-cell"><button id="room" style="float:right;">Room Info.</button></div>
        <div class="table-cell" style="vertical-align:middle;"><button style="float:right;" id="future">Future</button></div>
    </div>
</div>

    <br />

    <div id="data_cdte"></div>
    <div id="data_count"></div>
    <script>

        /*
        function loadSchedule(startDate, endDate) {

            try {

                var room = $('#SelectedRoom').val();

                if (!room) {
                    alert("Please select Conf. Room");
                    return;
                }

                // date must have form mm-dd-yyyy

                var _url = '/api/ConferenceRoom';

                //var _url = 'http://conferenceroomapi9194.azurewebsites.net/api/ConferenceRoom';
                //var _url = 'http://localhost:50093/api/ConferenceRoom';
                _url += '/' + room;
                _url += '/schedule/' + startDate + '/' + endDate;

                $('#overlay').addClass('loadingOverlay')

                $.ajax({
                    url: _url,
                    type: 'GET',
                    dataType: 'json',
                    success: function (resp) {

                        var schedule = [];
                        $.each(resp, function (index, value) {
                            schedule.push({ title: value.Subject, start: value.StartDate, end: value.EndDate });
                        });

                        $('#nav').show();
                        $('#overlay').removeClass('loadingOverlay')

                        $('#calendar').fullCalendar('destroy');

                        $('#calendar').fullCalendar({
                            editable: false,
                            defaultDate: startDate,
                            timezone: 'local',
                            height: 600,
                            defaultView: 'agendaDay',
                            header: {
                                left: 'title',
                                center: '',
                                right: ''
                            },
                            eventClick: function (calEvent, jsEvent, view) {

                                var display = calEvent.title + ': ';

                                display += calEvent.start.format("h:mm a");
                                display += ' to ';
                                display += calEvent.end.format("h:mm a");

                                alert(display);
                                //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                            },
                            events: schedule
                        });

                    },
                    error: function (jqxhr, textstatus) {
                        alert('Unable to Get CRs: ' + textstatus);

                        $('#overlay').removeClass('loadingOverlay')
                    }
                });
            } catch (e) {
                alert(e.message);
            }
        }
        */
        
        function loadSchedule(date) {

            try {

                var room = $('#SelectedRoom').val();

                if (!room) {
                    alert("Please select Conf. Room");
                    return;
                }

                // date must have form mm-dd-yyyy

                var _url = '/api/ConferenceRoom';

                //var _url = 'http://conferenceroomapi9194.azurewebsites.net/api/ConferenceRoom';
                //var _url = 'http://localhost:50093/api/ConferenceRoom';
                _url += '/' + room;
                _url += '/schedule/' + date;

                $('#overlay').addClass('loadingOverlay')

                $.ajax({
                    url: _url,
                    type: 'GET',
                    dataType: 'json',
                    success: function (resp) {

                        var schedule = [];
                        $.each(resp, function (index, value) {
                            schedule.push({ title: value.Subject, start: value.StartDate, end: value.EndDate });
                        });

                        $('#nav').show();
                        $('#overlay').removeClass('loadingOverlay')

                        $('#calendar').fullCalendar('destroy');

                        $('#calendar').fullCalendar({
                            editable: false,
                            defaultDate: date,
                            timezone: 'local',
                            height: 600,
                            defaultView: 'agendaDay',
                            header: {
                                left: 'title',
                                center: '',
                                right: ''
                            },
                            eventClick: function (calEvent, jsEvent, view) {

                                var display = calEvent.title + ': ';

                                display += calEvent.start.format("h:mm a");
                                display += ' to ';
                                display += calEvent.end.format("h:mm a");

                                alert(display);
                                //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                            },
                            events: schedule
                        });

                    },
                    error: function (jqxhr, textstatus) {
                        alert('Unable to Get CRs: ' + textstatus);

                        $('#overlay').removeClass('loadingOverlay')
                    }
                });
            } catch (e) {
                alert(e.message);
            }
        }

        function loadRoomInfo() {

            try {

                var room = $('#SelectedRoom').val();

                if (!room) {
                    alert("Please select Conf. Room");
                    return;
                }

                var _url = '/api/ConferenceRooms';
                _url += '/' + room + '/information'

                $.ajax({
                    url: _url,
                    type: 'GET',
                    dataType: 'json',
                    success: function (resp) {

                        // {"roomAttributes":{"mailBox":"SoxConferenceRoom@sprcompanies.com","capacity":10,"phoneNumber":null,"aav":true,"whiteBoard":true}}

                        var data = 'Capacity:   ' + resp.RoomAttributes.Capacity + '\r\n'; 
                        data += 'Phone #:   ' + resp.RoomAttributes.PhoneNumber + '\r\n';
                        data += 'White Board:   ' + resp.RoomAttributes.WhiteBoard + '\r\n';
                        data += 'AAV:   ' + resp.RoomAttributes.Aav + '\r\n';
                        data += 'Major ID:   ' + resp.RoomAttributes.MajorID + '\r\n';
                        data += 'Minor ID:   ' + resp.RoomAttributes.MinorID + '\r\n';

                        alert(data);

                    },
                    error: function (jqxhr, textstatus) {
                        alert('Unable to Get Conference Room Information: ' + textstatus);
                    }
                });
            } catch (e) {
                alert(e.message);
            }
        }

        $('#past').click(function (e) {

            incrementDate(-1);
            loadSchedule(getDate());

            //$('#calendar').fullCalendar('next');

        });

        $('#room').click(function (e) {

            loadRoomInfo();

        });

        $('#future').click(function (e) {

            incrementDate(1);
            loadSchedule(getDate());

            //$('#calendar').fullCalendar('next');

        });

        function getDate() {
            var div_cdte = $("div#data_cdte")[0];
            var date = jQuery.data(div_cdte, "cdte");
            return date.current;
        }

        function setDate(dte) {
            var div_tid = $("div#data_cdte")[0];
            jQuery.data(div_tid, "cdte", { current: dte });
        }

        function init(date) {

            $('#nav').hide();
            setDate(date)
            //loadSchedule(date);
        }

        function incrementDate(value) {

            try {

                var current = getDate();
                var parts = current.split(" ");
                var d = parts[0].split("-");
                var cd = new Date(d[0], (d[1] - 1), d[2], "0", "0", "0");
                var newDay = cd.getDate() + value;
                cd.setDate(newDay);
                var newDate = cd.getFullYear() + '-' + (cd.getMonth() + 1) + '-' + newDay;
                setDate(newDate);

            } catch (e) {
                alert(e.message);
            }
        }

        $('#refresh').click(function (e) {
            loadSchedule(getDate());
        });

        //$('#refresh').click(function (e) {

        //    var startDate = getDate();
        //    var parts = startDate.split(" ");
        //    var d = parts[0].split("-");
        //    var cd = new Date(d[0], (d[1] - 1), d[2], "0", "0", "0");
        //    var newDay = cd.getDate() + 30;
        //    cd.setDate(newDay);
        //    var endDate = cd.getFullYear() + '-' + (cd.getMonth() + 1) + '-' + cd.getDate();

        //    loadSchedule(startDate, endDate);

        //});

        init(@Html.Raw('"' + @date + '"'));

    </script>
