@model ConferenceRoomAPI.Models.DayView

@{
    string date = Model.Date;
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table" style="width:500px;">
    <div class="table-row">
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
    </div>
    <div class="table-row">
        <div class="table-cell">Conference Room</div>
        <div class="table-cell">@Html.DropDownListFor(x => x.SelectedRoom, Model.ConfRooms)</div>
        <div class="table-cell"><button id="refresh">Refresh</button></div>
    </div>
    <div class="table-row">
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
    </div>
</div>

<div id="overlay">
    <div class="table" style="width:500px;">
        <div class="table-row">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<div class="table" id="nav" style="width:500px;">
    <div class="table-row">
        <div class="table-cell" style="vertical-align:middle;"><button id="past">Past</button></div>
        <div class="table-cellr"></div>
        <div class="table-cell"><button id="room" style="float:right;">Room Info.</button></div>
        <div class="table-cell" style="vertical-align:middle;"><button style="float:right;" id="future">Future</button></div>
    </div>
</div>

    <br />

    <script src="~/Scripts/data.js"></script>
    <script>

        init(@Html.Raw('"' + @date + '"'));

    </script>
