body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table {
    display: table;
    margin: 5px 5px 5px 5px;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 5px 5px 5px 5px;
}

.table-col {
    display: table-cell;
    padding: 5px 5px 5px 5px;
    width: 49%
}

.border {
    border: 1px solid red; 
}

.loadingOverlay { 
    width: 500px; 
    height: 600px;
    opacity: 0.7; 
    color: silver;
    z-index: 10000;
    background: url(Images/loading-image.gif) content-box no-repeat center; 
    filter:alpha(opacity=70); /* IE transparency */  
    /*border:1px solid #000000;*/ 
}

.highlight {
    text-decoration: red solid underline; 
}
